<div class="p-5">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputUserNamel1">UserName</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputUserNamel1"
        aria-describedby="userName"
        formControlName="userName"
        id="userName"
      />
      <small *ngIf="formGroup.get('userName')?.errors?.required">
        Please provide a valid userName.
      </small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />

      <small *ngIf="formGroup.get('password')?.errors?.required">
        Please provide a valid password.
      </small>
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        formControlName="stayLoged"
      />

      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="formGroup.invalid"
    >
      Submit
    </button>
  </form>
</div>
